*{
    margin: 0px;
    padding: 0px;
}
.main{
    width: 100%;
    height: 650px;
    background-color: rgb(98, 176, 240);
    display: flex;
    align-items: center;
}

button{
    width: 180px;
    height: 45px;
    margin: auto;
    font-size: 23px;
    font-weight: bold;
    font-family: sans;
    border-radius: 10px;
}
button:hover{
background-color: black;
color: wheat;
}
